<!DOCTYPE html>
<html>
<head>
<title>Result</title>
</head>
<body>
<h2>Toxicity - probability percentage</h2><br>
<table border = 1>
<tr>
<td> Comment1 </td>
<td> {{ tox1 }} </td>
<tr>
<td> Comment2 </td>
<td> {{ tox2 }} </td>
</tr>
</tr>
</table>
<h2>Severe Toxicity - probability percentage</h2><br>
<table border = 1>
<tr>
<td> Comment1 </td>
<td> {{ svtox1 }} </td>
<tr>
<td> Comment2 </td>
<td> {{ svtox2 }} </td>
</tr>
</tr>
</table>
</table>
<h2>Obscenity - probability percentage</h2><br>
<table border = 1>
<tr>
<td> Comment1 </td>
<td> {{ obc1 }} </td>
<tr>
<td> Comment2 </td>
<td> {{ obc2 }} </td>
</tr>
</tr>
</table>
</table>
<h2>Threat - probability percentage</h2><br>
<table border = 1>
<tr>
<td> Comment1 </td>
<td> {{ thrt1 }} </td>
<tr>
<td> Comment2 </td>
<td> {{ thrt2 }} </td>
</tr>
</tr>
</table>
</table>
<h2>Insult - probability percentage</h2><br>
<table border = 1>
<tr>
<td> Comment1 </td>
<td> {{ inslt1 }} </td>
<tr>
<td> Comment2 </td>
<td> {{ inslt2 }} </td>
</tr>
</tr>
</table>
</table>
<h2>Identity Hate - probabilty percentage</h2><br>
<table border = 1>
<tr>
<td> Comment1 </td>
<td> {{ svtox1 }} </td>
<tr>
<td> Comment2 </td>
<td> {{ svtox2 }} </td>
</tr>
</tr>
</table>


<form method="POST" action=''>
<h3>Press try-again to test for another comment</h3>
<input type="submit" value="Try-Again"><br>
</form>

</body>
</html>

